<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625062084360-qrov4arj70dhk2kvh0tcd5ge37u0oqiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625062084360-qrov4arj70dhk2kvh0tcd5ge37u0oqiu</string>
	<key>API_KEY</key>
	<string>AIzaSyDzkVHPUDx6dLVHCeNaqANmt4jn8fG2zQM</string>
	<key>GCM_SENDER_ID</key>
	<string>625062084360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.courseproject</string>
	<key>PROJECT_ID</key>
	<string>courseproject-8321c</string>
	<key>STORAGE_BUCKET</key>
	<string>courseproject-8321c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625062084360:ios:f03a6d90713faa492cf6bd</string>
</dict>
</plist>