<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338167803020-qeq8v9juk2n33cufnqsbnv7e32436bor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338167803020-qeq8v9juk2n33cufnqsbnv7e32436bor</string>
	<key>API_KEY</key>
	<string>AIzaSyCWTr7f2djR4ssv5MOgUQa7pNo7ifmTwkY</string>
	<key>GCM_SENDER_ID</key>
	<string>338167803020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.courseproject</string>
	<key>PROJECT_ID</key>
	<string>course-test-22f13</string>
	<key>STORAGE_BUCKET</key>
	<string>course-test-22f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338167803020:ios:f8ad71932452052e0c5fa9</string>
</dict>
</plist>